<!DOCTYPE html>
<html lang="en">

<body>

  <div class="row" style="margin-top: 50px;">

    <!-- card 1 -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <a><%= image_tag "img4.jpeg", class: "img4-img" %></a>
          <span class="card-title">Temporal com granizo e vendaval</span>
        </div>
        <div class="card-content">
          <p>O temporal que atingiu diversas regiões de Santa Catarina entre o fim da tarde e a noite de sexta-feira (14), causou estragos em residências, estabelecimentos comerciais e até mesmo estações de abastecimento de água e energia elétrica.</p>
        </div>
        <div class="card-action">
          <a href="https://g1.globo.com/sc/santa-catarina/noticia/2018/12/15/temporal-com-granizo-e-vendaval-causam-estragos-em-cidades-de-sc.ghtml" class="blue-text">Confira</a>
        </div>
      </div>
    </div>

    <!-- card 2 -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <a><%= image_tag "img2.jpeg", class: "img2-img" %></a>
          <span class="card-title">Novo recorde de chuva</span>
        </div>
        <div class="card-content">
          <p>De acordo com dados da Epagri/Ciram, o total foi de 576 milímetros, o maior já registrado na cidade no mês de outubro, superando, com folga, o recorde anterior que era de outubro de 1979, com um acumulado de 477 milímetros.</p>
        </div>
        <div class="card-action">
          <a href="https://clicrdc.com.br/tempo/chapeeco-registra-volume-de-chuva-historico-no-mes-de-outubro/" class="blue-text">Confira</a>
        </div>
      </div>
    </div>

    <!-- card 3 -->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <a><%= image_tag "img3.jpeg", class: "img3-img" %></a>
          <span class="card-title">Desastres causados pelas chuvas</span>
        </div>
        <div class="card-content">
          <p>Os dados preliminares apontam que mais de 4,4 mil pessoas foram afetadas, duas ficaram feridas, quase 700 imóveis foram atingidos. Além desses números, uma cidade informou decreto de Situação de Emergência ( Leoberto Leal),</p>
        </div>
        <div class="card-action">
          <a href="https://www.defesacivil.sc.gov.br/noticias/pelo-menos-4-4-mil-pessoas-foram-afetadas-pelas-chuvas-em-sc/" class="blue-text">Confira</a>
        </div>
      </div>
    </div>

  </div>

  <style>
    .card {
      margin-bottom: 15px;
      height: 100%;
    }

    .blue-text {
      color: blue !important;
    }
  </style>

</body>

</html>
